* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

.blog > ul {
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;

}

.blog {
    border: 2px solid black;
    padding: 5vw;
    margin: 5vw;
    border-radius: 25px;
    background-color: white;
    /* overflow: hidden; */
}

.blog > p {
    margin-bottom: 2%;
}

.bloglink {
    font-size: 2em;
    color: white;
}

.subheading {
    margin-bottom: 5%;
}

a > img {
    margin-top: 5%;
    max-width: 50%;
    max-height: 50%;
}

.blog:nth-of-type(even) {
    background-color: black;
    color: white;
}

.blogtitle:active {
    color: gray;
}

.blogtitle {
    background-color: black;
    color: white;
}

.banner {
    background-color: black;
    color: white;
}

body {
    text-align: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 86vh;
}

footer {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;
}

.grayout:hover {
    color: gray;
}

.end {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    

}

header {
    position: sticky;
    top: 0;   
}

header > a > .banner > p {
    /* display: none; */
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1, h2 {
    text-decoration: underline;
}

html {
    scroll-padding-top: 7rem;
}


main {

    padding-bottom: 2.5rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
}

nav > a:nth-of-type(n) {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.oldpc {
    display: none;
}

.socials {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.socials > a > img {
    max-width: 10vw;
    filter: saturate(0%)
}

@media only screen and (min-width:1024px) {
    body{
        background-color: blue;
        font-size: x-large;
    }

    h1 {
        padding-bottom: 5%;
    }

    .aboutblog{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
    
    .blog {
        padding: 1.5rem;
        margin: 1rem;
        display: grid;
        justify-content: center;
    }

    .blogpage {
        display: flex;
        flex-wrap: wrap;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .homepage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }

    .intro {
        flex-grow: 2;
    }

    .oldpc {
        display:contents;
        filter: grayscale(100);
        border-radius: 50%;
    }

    /* .oldpc > img {
        border-radius: 80% / 100%;
        max-height: 40vw;
        border: 2px solid black;

    } */

    .socials {
        padding-top: 1%;
        padding-bottom: 1%;
        
    }

    .socials > a > img {
        max-width: 2.5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .updates {
        width: 30vw;
    }

    footer {
        padding: 2%;
    }
}