* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog {
    border: 2px solid black;
    padding: 5vw;
    margin: 5vw;
    border-radius: 25px;
}

.blog > img {
    max-width: 50%;
    max-height: 50%;
}

.blog:nth-of-type(even) {
    background-color: black;
    color: white;
}

/* .hamburger {
    background-color: blue;
} */


.banner {
    background-color: black;
    color: white;
}

header {
    position: sticky;
    top: 0;   
}


nav {
    /* display: inline-block; */
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 5%;

}

nav > a:nth-of-type(n) {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

@media only screen and (max-width: 500px) {
    header > a > .banner > p {
        /* display: none; */
        font-weight: bold;
        font-style: italic;
        font-size: 2rem;
        padding-top: 5%;
        padding-bottom: 5%;

    }
    body {
        text-align: center;
    }
}