/* Default for mobile */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

.blog > ul {
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;

}

.blog {
    border: 2px solid black;
    padding: 5vw;
    margin: 5vw;
    border-radius: 25px;
    background-color: white;
    /* overflow: hidden; */
}

.blog > p {
    margin-bottom: 2%;
}

.bloglink {
    font-size: 2em;
    color: white;
}

.subheading {
    margin-bottom: 5%;
}

a > img {
    margin-top: 5%;
    max-width: 50%;
    max-height: 50%;
}

.blog:nth-of-type(even) {
    background-color: black;
    color: white;
}

.blogtitle:active {
    color: gray;
}

.blogtitle {
    background-color: black;
    color: white;
}

.banner {
    background-color: black;
    color: white;
}

body {
    text-align: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 86vh;
}

footer {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;
}

.grayout:hover {
    color: gray;
}

.end {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

header {
    position: sticky;
    top: 0;   
}

header > a > .banner > p {
    /* display: none; */
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1, h2 {
    text-decoration: underline;
}

html {
    scroll-padding-top: 7rem;
}


main {

    padding-bottom: 2.5rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
}

nav > a:nth-of-type(n) {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.oldpc {
    display: none;
}

.socials {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.socials > a > img {
    max-width: 10vw;
    filter: saturate(0%)
}

/* media query for tablets */
@media only screen and (min-width:1200px and min-height:900px) {
    body{
        font-size: x-large;
        background-color: blue;
    }

    h1 {
        padding-bottom: 5%;
    }

    .aboutblog {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
    
    .blog {
        padding: 1.5rem;
        margin: 1rem;
        display: grid;
        justify-content: center;
    }

    .blogpage {
        display: flex;
        flex-wrap: wrap;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .homepage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 5%;
    }

    .intro {
        max-height: 20vh;
        width: 100%;
        text-align: center;
    }

    .intro:first-child() {
        width: 100%;
        text-align: center;
    }

    .oldpc {
        display:contents;
        filter: grayscale(100);
        border-radius: 50%;
    }

    .oldpc > img {
        margin-top: 10%;
        border-radius: 50% / 100%;
        max-height: 40vw;
        border: 2px solid black;

    }
    .socials {
        padding-top: 1%;
        padding-bottom: 1%;
        
    }

    .socials > a > img {
        max-width: 2.5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .updates {
        width: 30vw;
        flex:1;

    }

    footer {
        padding: 2%;
    }
}

/* media query for desktops and laptops */
@media only screen and (min-width:1300px) {
    body{
 
    }

    a {
        font-size: 7.5vh;
    }

    .aboutblog {
        display: grid;
        grid-template-columns: repeat(2,vw);
        grid-template-rows: repeat(2, 40vw%);
        justify-items: center;
    }

    .aboutme {
        width: 40vw;
    }

    #hobbies {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 3;

    }

    #traits {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end: 2;

    }

    header > a > .banner > p { 
        font-size: 10vh;
        padding-top: 7.5vh;
        padding-bottom: 5vh;
    }

    .homepage {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        justify-items: center;
       }

      
       
    .intro {
        display: flex;
        flex-direction: column;
        /* width: 100%;
        margin-left: 100%;  */
    }

    .oldpc {
        display: flex;
        margin-left: 25%;
  
    }

    .oldpc > img {
        max-height: 100%;
    }

    .updates {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60%;
 
    }

    .blog > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;


    }

    .blog > ul > li{
        font-size: 2vh;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    h2, h3 {
        font-size: 3vh;
        padding-bottom: 0;
        margin-bottom: 0;
        
    }

    h4 {
        font-size: 3vh;
    }

    h1 {
        font-size: 9vh;
        padding-bottom: 5vh;
    }

    p {
        font-size: 3vh;
        padding-bottom: 10%;
    }

    .socials {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        
    }

    .socials > a > img {
        max-width: 3vw;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
   
    }

    footer {
        padding: 0.5%;
    }

    footer > p {
        padding-bottom: 0;
    }

    .lists > ul > li {
        font-size: 3vh;
    }
}