* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

.blog > ul {
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;

}


article > ul > li > a {
    color: white;
}

.blog {
    border: 2px solid black;
    padding: 5vw;
    margin: 5vw;
    border-radius: 25px;
    background-color: white;
    /* overflow: hidden; */
}

.blog > p {
    margin-bottom: 2%;
}

.bloglink {
    font-size: 2em;
    color: white;
}

.subheading {
    margin-bottom: 5%;
}

a > img {
    margin-top: 5%;
    max-width: 50%;
    max-height: 50%;
}

.blog:nth-of-type(even) {
    background-color: black;
    color: white;
}

.blogtitle:active {
    color: gray;
}

.blogtitle {
    background-color: black;
    color: white;
}

.banner {
    background-color: black;
    color: white;
}

body {
    text-align: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 86vh;
}

footer {
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;
}

.grayout:hover {
    color: gray;
}

.end {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    

}

header {
    position: sticky;
    top: 0;   
}

header > a > .banner > p {
    /* display: none; */
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1, h2 {
    text-decoration: underline;
}

html {
    scroll-padding-top: 7rem;
}


main {

    padding-bottom: 2.5rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5%;
}

nav > a:nth-of-type(n) {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.socials {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.socials > a > img {
    max-width: 10vw;
    filter: saturate(0%)
}
